[v-cloak] {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $darkgrey;
    line-height: 1.25;
}

.row {
    margin: 0px;
}

.row:before, row:after {
    display: none;
}

/* MODS */
.btn-light, .btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open>.dropdown-toggle.btn-light{
    border-color: $dark;
}

.navbar {
    height: 50px;
}

/* CUSTOM */
.a-white a {
    color: #fff;
    text-decoration: underline;
}

.button-ytplayer {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    box-shadow: none;
    -webkit-box-shadow: none; 
    -moz-box-shadow: none;
}

/* QUILL EDITOR */
.ql-align-center {
    @extend .text-center;
}
.ql-align-right {
    @extend .text-right;
}
.ql-indent-1 {
    margin-left: 30px;
}