.promo {
    background-image: url('/img/home/promo_bg.jpg');
    background-size: cover;
}
.rm {
    background-image: url('/img/home/rm_bg_2.jpg');
    background-size: cover;
}
.home-video-1 {
    background-image: url('/img/home/home_video_bg_1.jpg');
    background-size: cover;
}
.home-video-2 {
    background-image: url('/img/home/home_video_bg_2.jpg');
    background-size: cover;
}
.home-video-3 {
    background-image: url('/img/home/home_video_bg_3.jpg');
    background-size: cover;
}