.page-container {
    font-family: 'PT Sans', sans-serif;
    font-size: 110%;
    strong {
        font-weight: 700;
    }
    h1, h2, h3, h4, h5 {
        font-family: 'Lora', serif;
    }
    .subtitle {
        font-family: 'PT Sans', sans-serif;
    }
}

// BLOCKS
.title-container {
    background-image: url('/img/home/promo_bg.jpg');
    background-size: cover;
}