/* RM_BASE */
.rm-subnav-01 {
    background-image: url('/img/company/rm/index/subnav_bg_01.jpg');
    background-size: cover;
}
.rm-subnav-02 {
    background-image: url('/img/company/rm/index/subnav_bg_02.jpg');
    background-size: cover;
}
.rm-subnav-03 {
    background-image: url('/img/company/rm/index/subnav_bg_03.jpg');
    background-size: cover;
}
.rm-subnav-04 {
    background-image: url('/img/company/rm/index/subnav_bg_04.jpg');
    background-size: cover;
}
.rm-subnav-05 {
    background-image: url('/img/company/rm/index/subnav_bg_05.jpg');
    background-size: cover;
}
.rm-subnav-06 {
    background-image: url('/img/company/rm/index/subnav_bg_06.jpg');
    background-size: cover;
}

/* RM_INDEX */
.rm-index-top {
    background-image: url('/img/company/rm/index/top_bg.jpg');
    background-size: cover;
}
.rm-index-pilotage-block {
    background-image: url('/img/company/rm/index/pilotage_bg.jpg');
    background-size: cover;
}
.rm-index-howto-block {
    background-image: url('/img/company/rm/index/howto_bg.jpg');
    background-size: cover;
}
.rm-index-bg-01 {
    background-image: url('/img/company/rm/index/01_bg.jpg');
    background-size: cover;
}
.rm-index-bg-02 {
    background-image: url('/img/company/rm/index/02_bg.jpg');
    background-size: cover;
}
.rm-index-bg-03 {
    background-image: url('/img/company/rm/index/03_bg.jpg');
    background-size: cover;
}
.rm-index-bg-04 {
    background-image: url('/img/company/rm/index/04_bg.jpg');
    background-size: cover;
}
.rm-index-bg-05 {
    background-image: url('/img/company/rm/index/05_bg.jpg');
    background-size: cover;
}
.rm-index-bg-06 {
    background-image: url('/img/company/rm/index/06_bg.jpg');
    background-size: cover;
}
.rm-index-bg-07 {
    background-image: url('/img/company/rm/index/07_bg.jpg');
    background-size: cover;
}
.rm-index-bg-08 {
    background-image: url('/img/company/rm/index/08_bg.jpg');
    background-size: cover;
}

/* RM_MODEL */
.bg-rm-model-03 {
    background-image: url('/img/company/rm/model/03_bg.jpg');
    background-size: cover;
}
.bg-rm-model-04 {
    background-image: url('/img/company/rm/model/04_bg.jpg');
    background-size: cover;
}
.bg-rm-model-05 {
    background-image: url('/img/company/rm/model/05_bg.jpg');
    background-size: cover;
}
.bg-rm-model-06 {
    background-image: url('/img/company/rm/model/06_bg.jpg');
    background-size: cover;
}
.bg-rm-model-08 {
    background-image: url('/img/company/rm/model/08_bg.jpg');
    background-size: cover;
}
.bg-rm-model-09 {
    background-image: url('/img/company/rm/model/09_bg.jpg');
    background-size: cover;
}

/* RM_ORIGINS */
.bg-rm-origins-01 {
    background-image: url('/img/company/rm/origins/01_bg.jpg');
    background-size: cover;
}
.bg-rm-origins-02 {
    background-image: url('/img/company/rm/origins/02_bg.jpg');
    background-size: cover;
}
.bg-rm-origins-03 {
    background-image: url('/img/company/rm/origins/03_bg.jpg');
    background-size: cover;
}
.bg-rm-origins-04 {
    background-image: url('/img/company/rm/origins/04_bg.jpg');
    background-size: cover;
}
.bg-rm-origins-05 {
    background-image: url('/img/company/rm/origins/05_bg.jpg');
    background-size: cover;
}
.bg-rm-origins-06 {
    background-image: url('/img/company/rm/origins/06_bg.jpg');
    background-size: cover;
}

/* RM_PROJECT */
.bg-rm-project-01 {
    background-image: url('/img/company/rm/project/01_bg.jpg');
    background-size: cover;
}
.bg-rm-project-02 {
    background-image: url('/img/company/rm/project/02_bg.jpg');
    background-size: cover;
}
.bg-rm-project-06 {
    background-image: url('/img/company/rm/project/06_bg.jpg');
    background-size: cover;
}