/* RM_INDEX */
.block-subnav a {
    color: #fff;
    text-decoration: underline;
}
.subnav-01 {
    background-image: url('/img/company/rm/index/subnav_bg_01.jpg');
    background-size: cover;
}
.subnav-02 {
    background-image: url('/img/company/rm/index/subnav_bg_02.jpg');
    background-size: cover;
}
.subnav-03 {
    background-image: url('/img/company/rm/index/subnav_bg_03.jpg');
    background-size: cover;
}
.subnav-04 {
    background-image: url('/img/company/rm/index/subnav_bg_04.jpg');
    background-size: cover;
}
.subnav-05 {
    background-image: url('/img/company/rm/index/subnav_bg_05.jpg');
    background-size: cover;
}
.subnav-06 {
    background-image: url('/img/company/rm/index/subnav_bg_06.jpg');
    background-size: cover;
}
.top-rm {
    background-image: url('/img/company/rm/index/top_bg.jpg');
    background-size: cover;
}
.pilotage-block {
    background-image: url('/img/company/rm/index/pilotage_bg.jpg');
    background-size: cover;
}
.howto-block {
    background-image: url('/img/company/rm/index/howto_bg.jpg');
    background-size: cover;
}
.bg-01 {
    background-image: url('/img/company/rm/index/01_bg.jpg');
    background-size: cover;
}
.bg-02 {
    background-image: url('/img/company/rm/index/02_bg.jpg');
    background-size: cover;
}
.bg-03 {
    background-image: url('/img/company/rm/index/03_bg.jpg');
    background-size: cover;
}
.bg-04 {
    background-image: url('/img/company/rm/index/04_bg.jpg');
    background-size: cover;
}
.bg-05 {
    background-image: url('/img/company/rm/index/05_bg.jpg');
    background-size: cover;
}
.bg-06 {
    background-image: url('/img/company/rm/index/06_bg.jpg');
    background-size: cover;
}
.bg-07 {
    background-image: url('/img/company/rm/index/07_bg.jpg');
    background-size: cover;
}
.bg-08 {
    background-image: url('/img/company/rm/index/08_bg.jpg');
    background-size: cover;
}