/* SERVICES */
.mission {
    background-image: url('/img/company/services/mission_bg.jpg');
    background-size: cover;
}
.services-01 {
    background-image: url('/img/company/services/services_01_img.jpg');
    background-size: cover;
}