/* SERVICES */
.services-header-bg {
    background-image: url('/img/home/promo_bg.jpg');
    background-size: cover;
}
.mission {
    background-image: url('/img/company/services/mission_bg.jpg');
    background-size: cover;
}
.services-01 {
    background-image: url('/img/company/services/services_01_img.jpg');
    background-size: cover;
}
.services-02 {
    background-image: url('/img/company/services/services_02_img.jpg');
    background-size: cover;
}
.services-03 {
    background-image: url('/img/company/services/services_03_img.jpg');
    background-size: cover;
}
.services-04 {
    background-image: url('/img/company/services/services_04_img.jpg');
    background-size: cover;
}
.services-05 {
    background-image: url('/img/company/services/services_05_img.jpg');
    background-size: cover;
}

.rounded-10 {
    border-radius: 10px;
}